$darkBlue   : #252b3d;
$dark       : #252b3d;
$pink       : #e61a8b;
$blue       : #e5effb;
$blueLight  : #46c7fb;
$white      : #fff;
$grey       : #9ea5ad;
$greyLight  : #71747c;
$light      : rgba($greyLight, 0.25);